.Alert {
    background-color: #f44336;
    color: white;
    padding: 15px;
    margin-top: 10px;
    position: relative;
    display: inline-block;
  }
  
  .Alert-message {
    margin-right: 20px;
  }
  
  .Alert-close {
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px;
  }